<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
       <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/imageclassify?zeroDateTimeBehavior=convertToNull&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.connection.failOverReadOnly">false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.pool_size">4</property>
        <property name="show_sql">true</property>
        <mapping resource="cn/codekong/bean/User.hbm.xml"/>
        <mapping resource="cn/codekong/bean/Oauth.hbm.xml"/>
        <mapping resource="cn/codekong/bean/CheckIn.hbm.xml"/>
        <mapping resource="cn/codekong/bean/Category.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/Admin.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/Interest.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/Image.hbm.xml"/>
        <mapping resource="cn/codekong/bean/Zip.hbm.xml"/>
        <mapping resource="cn/codekong/bean/Mark.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/Task.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/Composition.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/Image_Category.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/ExportTag.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/ExportRecord.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/Constant.hbm.xml"/> 
        <mapping resource="cn/codekong/bean/Contribute_Img.hbm.xml"/> 
        
    </session-factory>
</hibernate-configuration>
